.App {
  text-align: center;
}

body {
  color:"#494949";

}
.nav {
  
  height: 7%;

}


.bar {
  position: absolute;
  background-color: rgb(17, 93, 129);
  width: 100%;
}

.inner {
  float: left;
  width: 15%;
  text-align: center;
  line-height: 30px;
  margin-top: 1%;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.ll {
  width: 100%;
  margin-top: 10%;
  height: 20px;
  color:aqua
}