.App {
  text-align: center;
}

body {
  color:"#494949";

}
.nav {
  
  height: 7%;

}


.bar {
  position: absolute;
  background-color: rgb(17, 93, 129);
  width: 100%;
}

.inner {
  float: left;
  width: 15%;
  text-align: center;
  line-height: 30px;
  margin-top: 1%;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.ll {
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: 7%;
  height: 20px;
  color:aqua
}


/* Card.jsx */

.main{
  
  height: 80px;
  width: 23%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: blueviolet;
  border-radius: 10px;
}

.main:hover {
  background-color: brown;
}

.row {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: aliceblue;
}